<h1>Calculator</h1>

<form (submit)="calc()" name="form">
    <div>
        <input [(ngModel)]="expression" name="expression" ngRequired="true" />
        <button type="submit">=</button> {{ value }}
    </div>

    <div class="numpad-container">

        <div class="numpad">
            <div *ngFor="let nr of numbers" class="numpad__item" (click)="append(nr)">{{ nr }}</div>
        </div>

        <div class="operators">
            <div *ngFor="let x of ['+', '-', '*', '/']" (click)="append(x)" class="operators__item">{{ x }}</div>
        </div>
    </div>
</form>
