.numpad-container {
    display: flex;
}

.numpad {
    display: flex;
    flex-flow: row wrap;
    width: 300px;
}

.numpad__item {
    flex: 1 0 33.3333%;
    background-color: white;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;

    transition: all 0.2s;
}

.numpad__item:hover {
    background-color: #ddd;
}

.numpad__item:last-child {
    flex: 3;
}

.operators__item {
    border: 1px solid #ccc;
    background-color: white;
    text-align: center;
    line-height: 40px;
    width: 100px;
}

.numpad__item:hover {
    background-color: green;
    color: white;
}

.operators__item:hover {
    background-color: green;
    color: white;
}